<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>
            {% block title %}Donne a li meme!{% endblock %}
        </title>
        {% block stylesheets %}
            <!-- CSS  -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="screen,projection"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">D O N N E A L I</h3>
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li {% if app.request.get('_route') == 'donations_donations_homepage' %} class="active" {% endif %}>
                                        <a href="/">Accueil</a>
                                    </li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {% if is_granted('ROLE_PARTICULIER') %}
                                            <li {% if app.request.get('_route') == '_show_donation' %} class="active" {% endif %}>
                                                <a href="/show/donation">Dons</a>
                                                <!--Rajouter un dropmenu-->
                                            </li>
                                        {% endif %}
                                        {% if is_granted('ROLE_ASSOS') %}
                                            <li {% if app.request.get('_route') == '_ask_donation' %} class="active" {% endif %}>
                                                <a href="/ask/donation/0">Dons</a>
                                            </li>
                                        {% endif %}
                                        <li {% if app.request.get('_route') == 'fos_user_profile_show' %} class="active" {% endif %}>
                                            <a href="/profile">Profile</a>
                                            <!--Rajouter un dropmenu-->
                                        </li>
                                        <li>
                                            <a href="/logout">Deconnexion</a>
                                        </li>
                                    {% endif %}
                                    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li {% if app.request.get('_route') == 'fos_user_registration_register' %} class="active" {% endif %}>
                                            <a href="/register">Inscription</a>
                                        </li>
                                        <li {% if app.request.get('_route') == 'fos_user_security_login' %} class="active" {% endif %}>
                                            <a href="/login">Connexion</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {% block body %}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div id="banner">
                                <div class="container">
                                    <section>
                                        <header class="major">
                                            <h2>Bienvenue sur votre espace personnel
                                              {{app.user.username}} ! </h2>
                                        </header>
                                        {% if is_granted('ROLE_PARTICULIER') %}
                                            <a href="/create/donation">

                                                <button type="button" class="btn btn-primary btn-lg centrer">Faire un don</button>
                                            </a>
                                        {% endif %}
                                        {% if is_granted('ROLE_ASSOS') %}
                                            <a href="/ask/donation/0">
                                                <button type="button" class="btn btn-primary btn-lg">Voir la liste des dons</button>
                                            </a>
                                        {% endif %}
                                    </section>
                                </div>
                            </div>
                        {% else %}
                            <div class="background-image">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-center">
                                            <h2>
                                                <span>
                                                    Bienvenue sur notre site de dons en ligne.</span><br></h2>
                                            <h3>
                                                Voici une plateforme qui permet de mettre en contact les associations et les particuliers , pour pouvoir combler les réels besoins des association.
                                            </h3>
                                            <button class="btn btn-primary btn-lg" id="singlebutton">
                                                DONNEALI</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                    <div class="mastfoot">
                        <div class="inner">
                            <p>Copyright DonneALI Team</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!--<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>');
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
