{% extends "::base.html.twig" %}

{% block body %}
    <h1 class="text-center">Gestion des dons</h1>
    <hr class="style13">
    <div class="container">
        {% for donation in ListeDonationUser %}
            {% if donation.available %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <!-- <img src="..." alt="..."> -->
                        <div class="caption">
                            <center>
                                <h3>Titre :
                                    {{donation.title}}</h3>
                                <p>Ville :
                                    {{donation.city}}</p>
                                <p>
                                    Description :
                                    {{donation.description}}
                                </p>
                                <p>
                                    Mise en ligne :
                                    {{donation.date|date('d/m/Y')}}
                                </p>
                                <!-- Single button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Choisir bénificiaire
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for donationasker in donation.getAssociationsask()%}
                                            <li>
                                                <a href="/validate/donation/{{donation.id}}/{{donationasker.id}}">{{donationasker}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}